nav {
    border: solid 1px;
    margin-bottom: 5px;
    background-color: #333333;
}

body {
    padding-bottom: 20px;
    background-color: #121212;
    font-family: 'Raleway';
}

.body-content {
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 35px;
    border: black;
}

#main {
    padding-left: 25px;
    padding-right: 25px;
}

#timerTaskList {
    overflow: auto;
    margin-bottom: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #262626;
}

::-webkit-scrollbar-thumb {
    background: #333333;
}

::-webkit-scrollbar-thumb:hover {
    background: #404040;
}

div {
    text-align: center;
}

.row-cols-lg-2 {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 78%;
}

svg {
    transform: rotate(-90deg);
}

.circle_animation {
    stroke-dasharray: 865.383112358; /* this value is the pixel circumference of the circle */
    stroke-dashoffset: 865.383112358;
}

#alert {
    margin-top: 25px;
    background-color: #262626;
    color: #d9d9d9;
    border-color: #1a1a1a;
    text-align: center;
}

input[type="text"], input[type="number"] {
    background-color: #262626;
    color: #f2f2f2;
    border-color: #1a1a1a;
}

    input[type="text"]:focus, input[type="number"]:focus {
        background-color: #333333;
        color: #f2f2f2;
        outline: none !important;
        border-color: cyan;
    }

h2 {
    color: #d9d9d9;
    margin-bottom: 20px;
}

.currentTasks {
    color: #d9d9d9;
}

li {
    background-color: #262626 !important;
    color: #e6e6e6 !important;
    border: 1px solid !important;
    border-color: #1a1a1a !important;
    margin-bottom: 5px;
}

    li:hover {

        border: solid 1px !important;
        border-color: cyan !important;
        background-color: #333333 !important;
        color: white !important;
    }

.list-text {
    margin: 0;
}

strong {
    color: #d9d9d9;
}

button, label {
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid #1a1a1a;
    margin: 0 0.2em 0.2em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: cyan;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color: #262626;
    text-align: center;
    transition: all 0.15s;
    border-color: #1a1a1a;
    outline: none !important;
}

    button:hover, label:hover {
        text-shadow: 0 0 2em rgba(255,255,255,1);
        color: violet;
        background-color: #0d0d0d;
        outline: none !important;
    }

.pressed {
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color: violet;
    background-color: #0d0d0d;
    outline: none !important;
}

@media all and (max-width:30em) {
    button, label {
        display: block;
        margin: 0.4em auto;
    }
}

h4, h3 {
    font-size: 50px;
}

h6 {
    margin-bottom: 0px;
    font-size: 1.5rem;
}

h4 {
    padding-top: 25px;
    font-size: 1.4rem !important;
}

h3 {
    padding-top: 10px;
    color: #d9d9d9;
}